---
---
// @import "{{ site.theme }}";
// @import "fonts";
// @import "theme_customizations";
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:500|Overpass:200,800');

.minerva-root { letter-spacing: 0.02em; margin: 0; font-family: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 0.9rem; font-weight: 400; line-height: 1.5; color: #eee; text-align: left; }

.minerva-root {
  @import "scss/functions";
  @import "scss/bootstrap";
  @import "variables";
  //@import "img_video";

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: $headings-margin-bottom * 2.5;
  }


  svg a:hover text {
    text-decoration: underline;
    fill: #0fabff;
  }

  .banner-text-container,
  .banner-tall {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .banner-tall {
    min-height: 75vh;
  }
  @include media-breakpoint-down(sm) {
    .banner-tall{
      min-height: auto;
    }
  }

  @include media-breakpoint-down(xs) { 
    .display-4 {
      font-size: 2rem;
      margin-top: 1rem;
    }  
  }

  .select2-results ul {
    color: black;
  }
}
