body {
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}


h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color:#e8e8e8;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

a {
  font-weight:400;
}

a small {
  font-size:11px;
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size:13px;
}

th {
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

dt {
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;

  nav {

    li {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      line-height: 50px;
      font-size: 14px;

      a {
        line-height:14px;
        font-size:14px;
      }
    }
  }

  .container {
    text-align: center;
  }

  h2 {
    margin-bottom: 5px;
  }
}

section {

  #title {

    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
    }

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
    }

  }
}

header {

  h1::before {
    content: "";
  }

  h1 {
    margin-left: -3px;
  }

}

#downloads {
    display: none;
}

figure.image {

  text-align: center;

  img {
    background: white;
    padding: 10px;
    border: 5px solid #eeeeee;
  }

  figcaption {
    font-weight: bold;
  }

}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar-cta {

  float: right;
  width: 230px;
  text-align: center;
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 10px;
  background: #3a4a60;

  a {
    color: #eaeaea;
    text-decoration: none;
    font-weight: bold;
    text-shadow: inherit;
  }

  img.cta-button {
    margin-top: 10px;
  }

}

.main-nav {

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-align: center;
  }
  li {
      list-style-image: none;
      display:inline;
  }
  li a {
      display: block;
      text-align: center;
      padding: 5px 5px;
      text-decoration: none;
      display:inline-block;
  }
  li a:hover {
      background-color: #111;
  }
  li a.active {
    background-color: #b5e85314;
  }
}
