<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" class="h-100">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/osd-exhibit.css' | relative_url }}">

</head>

<body class="d-flex flex-column h-100">
    <!-- style="position:relative" -->

  {% assign cell_type_data = site.data.cell_type_links_database %}
  {% assign marker_data = site.data.marker_links_database %}
  {% assign config_paper = site.data[page.paper] %}
  {% assign config_figure = config_paper[page.figure] %}
  {% assign exhibit = config_figure.Exhibit %}

    <div id="content" class="position-fixed w-100" style="top: 0;left: 0;">
        <div>
            <div id="openseadragon1" class="openseadragon"></div>
            <div id="legend" class="position-absolute"
                 style="pointer-events: none; top: 1rem; right: 8px">
                <div>
                    <div class="btn-group-vertical bg-trans p-2"
                         style="display:inline-block; vertical-align:top;">
                        <a id="toggle-legend" class="p-1" href="javascript;;">
                            <i class="open-legend fas fa-chevron-left" style="font-size: 25px;"></i>
                            <i class="close-legend fas fa-chevron-right" style="font-size: 25px;"></i>
                        </a>
                        <ul id="channel-legend" class="list-unstyled m-0"></ul>
                        <div class="p-1 only-3d">
                          Depth:
                        </div>
                        <div style="text-align: right;">
                          <span id="depth-legend"> </span>
                        </div>
                    </div> 
                    <div id="channel-groups-legend" class="nav flex-column nav-pills p-2 bg-trans"
                         style="display:inline-block; vertical-align:top;
                         pointer-events: all; overflow-y: scroll; max-height: 80vh;">
                    </div>
                    <div id="z-slider-legend" class="bg-trans"
                         style="pointer-events: all; display:inline-block; vertical-align:top;">
                        <input id="z-slider" type="range"/>
                    </div>
                </div>
            </div>
            <div id="sidebar-menu" class="container position-absolute">
                <div class="row">
                    <div class="col-11 bg-trans waypoint-content p-3" style="max-height: 80vh; overflow-y: scroll">
                        <div class="row">
                            <div class="col-10">
                                <h3 id="imageName" class="m-0"></h3>
                            </div>
                            <div class="col-2">
                                <a class="btn text-light d-none" id="home-button"
                                   href="/">
                                    <i class="fas fa-home"></i>
                                </a>
                                <a class="btn text-light d-none" id="toc-button">
                                    <i class="fas fa-list-ul"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div id="waypointControls" class="row align-items-center my-4">
                            <div class="col-2 text-center" id="leftArrow">
                                <i class="fas fa-arrow-left" style="font-size: 25px"></i>
                            </div>
                            <div class="col-8">
                              <audio style="height: 25px; width:100%" id="audioPlayback" controls>
                                <source id="audioSource" type="audio/mp3" src="">
                              </audio> 
                            </div>
                            <div class="col-2 text-center" id="rightArrow">
                                <i class="fas fa-arrow-right" style="font-size: 25px;"></i>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="row">
                            <div id="waypointName" class="col-10 h6 mt-0 mb-3">
                            </div>
                            <div id="waypointCount" class="col-2"></div>
                        </div>
                        <div id="viewer-waypoint">
                        </div>
                        <div>
                            <p id="channel-label" class="mb-1 font-weight-bold pt-2">Select a marker group:</p>
                            <select id="group-picker" class="editControls selectpicker" multiple>
                                {% for group in exhibit.Groups %}
                                    <option>{{group.Name}}</option>
                                {% endfor %}
                            </select>
                            <div id="channel-groups" class="nav flex nav-pills"></div>
                            <p id="mask-label" class="mb-1 font-weight-bold pt-2">Add data layer:</p>
                            <select id="mask-picker" class="editControls selectpicker" multiple>
                                {% for mask in exhibit.Masks %}
                                    <option>{{mask.Name}}</option>
                                {% endfor %}
                            </select>
                            <div id="mask-layers" class="nav flex nav-pills">
                            </div>
                        </div>
                        <div>
                            <div id="story-container"></div>
                        </div>
                    </div>
                    <div class="col-1 p-0">
                        <div class="btn-group-vertical bg-trans"> 
                            <a id="toggle-sidebar" class="btn" href="javascript;;">
                                <i class="close-sidebar fas fa-chevron-left" style="font-size: 25px;"></i>
                                <i class="open-sidebar fas fa-chevron-right" style="font-size: 25px;"></i>
                            </a>
                        </div> 
                        <div class="btn-group-vertical bg-trans">
                            <a class="btn text-light" id="zoom-out" href="#zoom-out">
                                <i class="fas fa-search-minus"></i>
                            </a>
                            <a class="btn text-light" id="zoom-in" href="#zoom-in">
                                <i class="fas fa-search-plus"></i>
                            </a>
                            <span id="arrow-switch" class="nav-item arrow-switch">
                            <a class="btn" href="javascript:;">
                                <span class=""><i class="fas fa-location-arrow"></i></span>
                            </a>
                            </span>
                            <span id="lasso-switch" class="nav-item lasso-switch">
                            <a class="btn" href="javascript:;">
                                <span class=""><i class="fas fa-bullseye"></i></span>
                            </a>
                            </span>
                            <span id="draw-switch" class="nav-item draw-switch">
                            <a class="btn" href="javascript:;">
                                <span class=""><i class="fas fa-crosshairs"></i></span>
                            </a>
                            </span>
                            <a class="btn" id='duplicate-view'>
                                <span class=""><i class="fas fa-clone"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="viewer-tool" class="position-absolute bg-trans" style="right:1.5%; top: 40vh;">
            </div>
        </div>
    </div>

    <div class="d-none">
        <input type="file" id="file-upload" class="d-none" />
        <ul>
            <li class="nav-item rounded-0" id="proto-story-index">
                <a class="nav-link list-group-item-action font-weight-bold"></a>
            </li>
        </ul>

        <div id="arrow-overlay" class="arrow-overlay">
          <div id="arrowhead-image">
            {% include arrowhead.svg %}
          </div>
          <div id="arrow-image">
            {% include arrow.svg %}
          </div>
          <div id="arrow-text">
            <div class="arrow-label p-3 bg-trans" style="max-width: 200px;">
            </div>
          </div>
        </div>

        <form class="form save_edits_form">
            <div class="input-group">
                <div style="width: 100%; margin-bottom: 5px">
                    <input class="form-control edit_name editable bg-dark text-white rounded-0 border-0" type="text">
                    </input>
                    <br>
                    <textarea class="form-control edit_text editable bg-dark text-white rounded-0 border-0" rows="9">
                    </textarea>
                    <br>
                    <div class="row">
                        <div id="edit_toggle_arrow" class="col-2 text-center">
                            <i class="fas fa-location-arrow"></i>
                        </div>
                        <div class="col-10">
                            <input class="form-control edit_arrow_text editable bg-dark text-white rounded-0 border-0" type="text">
                            </input>
                        </div>
                    </div>
                </div>
                <button class="btn btn-default edit_copy_button px-1  " data-placement="bottom">
                    <i class="fas fa-copy fa-lg"></i><br>
                    <span class="mt-2 d-block" style="font-size: 0.7rem">
                                    COPY
                    </span>
                </button>
            </div>
        </form>

        <div id="readme">
        </div>
    </div>


    <div id="password_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Minerva Password</h2>
                </div>
                <div class="modal-body">

                    <form class="form">
                        <div class="form-group">
                            <input type=password class="form-control" name="p">
                        </div>
                        <button type="submit" class="btn btn-primary">Enter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="edit_description_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h2 class="modal-title m-0 h5">Region of Interest</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="form">
                        <div class="form-group text-bold">
                            <label> Enter a description for the selected region. </label>
                            <textarea class="form-control" name="d" rows="4"></textarea>
                        </div>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Make Shareable Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="welcome_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h2 class="modal-title m-0 h5">Welcome</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You're looking at an image layering
                    <span class="channel_count"></span>
                    CyCIF markers.
                    Use the <i class="fas fa-arrow-left"></i>
                    and <i class="fas fa-arrow-right"></i>
                    arrows to move between highlighted image regions.
                    Click <i class="fas fa-list-ul"></i>
                    to return here to an overview of the full image.
                    Use <i class="fas fa-search-minus"></i> to zoom out
                    and <i class="fas fa-search-plus"></i> to zoom in.
                    </br>
                    </br>
                    To share your own highlighted image regions,
                    click <i class="fas fa-location-arrow"></i> to
                    point an arrow at a small feature,
                    click <i class="fas fa-bullseye"></i> to select
                    a feature with a custom shape, and
                    click <i class="fas fa-crosshairs"></i> to share a
                    boundary around a rectangular region.
                    Click <i class="fas fa-clone"></i> to open a
                    new window with shared navigation.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="copy_link_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-dark">
                <div class="modal-header">
                    <h2 class="modal-title m-0 h5">Region of Interest</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="copy_link" name="copy_content" placeholder="Some path">
                            <span class="input-group-btn">
                                <button class="btn btn-default modal_copy_button" type="submit" data-toggle="tooltip" data-placement="bottom">
                                    Copy
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="all-overlays" class="d-none">
    </div>


    {% include scripts.html %}
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.3.1/openseadragon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://api.html5media.info/1.2.2/html5media.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.551.0.min.js"></script>

    <script>
        {% include amazon-cognito-identity.min.js %}
    </script>
    <script>
        {% include polyfills.js %}
    </script>
    <script>
        {% include clipboard.js %}
    </script>
    <script>
        {% include js-yaml.min.js %}
    </script>
    <script>
        {% include links_alias.js %}
    </script>
    <script>
        {% include lz-string.js %}
    </script>
    <script>
        {% include d3.min.js %}
    </script>
    <script>
        {% include colorbrewer.v1.min.js %}
    </script>
    <script>
        {% include d3-legends.min.js %}
    </script>
    <script>
        {% include openseadragon-svg-overlay.js %}
    </script>
    <script>
        {% include infovis.js %}
    </script>
    <script>
        {% include openseadragon-scalebar.js %}
    </script>
    <script>
        {% include polly-speak.js %}
    </script>
    <script>
        {% include exhibits/state.js %}
    </script>
    <script>
        {% include exhibits/render.js %}
    </script>
    <script>
        {% include exhibits/osd.js %}
    </script>
    <script>
        {% include exhibits/main.js %}
    </script>
    <script>
        const exhibit = {{ exhibit | jsonify }};
        const marker_data = {{ marker_data | jsonify }};
        const cell_type_data = {{ cell_type_data | jsonify }};

        [marker_links_map, marker_alias_map] = get_links_alias(marker_data);
        [cell_type_links_map, cell_type_alias_map] = get_links_alias(cell_type_data);

        window.viewer = build_page(exhibit, {
          embedded: true
        });
    </script>
    <script>
        const makeTwinViewer = function(e) {
            var youngerWindow = window.open(window.location.href);
            var viewer1 = window.viewer;
            var viewer2;
            youngerWindow.addEventListener('DOMContentLoaded', (e) => {
                viewer2 = youngerWindow.viewer;
                console.log(youngerWindow.viewer);
                var viewer1Leading = false;
                var viewer2Leading = false;

                var viewer1Handler = function() {
                if (viewer2Leading) {
                    return;
                }

                viewer1Leading = true;
                viewer2.viewport.zoomTo(viewer1.viewport.getZoom());
                viewer2.viewport.panTo(viewer1.viewport.getCenter());
                viewer1Leading = false;
                };

                var viewer2Handler = function() {
                if (viewer1Leading) {
                    return;
                }

                viewer2Leading = true;
                viewer1.viewport.zoomTo(viewer2.viewport.getZoom());
                viewer1.viewport.panTo(viewer2.viewport.getCenter());
                viewer2Leading = false;
                };

                viewer1.addHandler('zoom', viewer1Handler);
                viewer2.addHandler('zoom', viewer2Handler);
                viewer1.addHandler('pan', viewer1Handler);
                viewer2.addHandler('pan', viewer2Handler);
            });
        };
        const duplicateViewButton = document.querySelector('#duplicate-view');
        duplicateViewButton.onclick = makeTwinViewer;
    </script>

<script>
        $('#story-board').on('hidden.bs.collapse', function() { 
            $('#js-story-collapse-indicator')[0].innerHTML = '<span class="px-2">SHOW MORE</span> <i class="fas fa-chevron-down"></i>'
        });
        $('#story-board').on('shown.bs.collapse', function() { 
            $('#js-story-collapse-indicator')[0].innerHTML = '<span class="px-2">SHOW LESS</span> <i class="fas fa-chevron-up"></i>'
        });
        
        
            // $('#scroll-bottom')
            //     .click(function(event) {
            //         event.preventDefault();
            //         $('aside').animate({
            //             scrollTop: $(window).height() * 0.65
            //         }, 500, "swing", function() {
            //             $('#scroll-bottom').addClass('d-none')
            //             Callback after animation
            //             Must change focus!
            //             var $target = $(target);
            //             $target.focus();
            //             if ($target.is(":focus")) { // Checking if the target was focused
            //                 return false;
            //             } else {
            //                 $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            //                 $target.focus(); // Set focus again
            //             };
            //         });
            //     });

        // $(document).ready(function() {
        //     $('#osd-side-nav').scrollTop(0);
        //     topAnchor = $('#story-title').position().top;

        //     var storyTitleAdded = false;
        //     $('#osd-side-nav').scroll(function() {
        //         if ($('#story-title').position().top == topAnchor && $('#story-title-sticky')[0]) {
        //             $('#story-title-sticky')[0].parentNode.removeChild($('#story-title-sticky')[0]);
        //             storyTitleAdded = false;
        //         }
        //         if ($('#story-title').position().top < topAnchor && !storyTitleAdded) {
        //             var clNode = $('#story-title')[0].cloneNode(true);
        //             clNode.setAttribute('id', 'story-title-sticky');
        //             $('#story-title')[0].parentNode.insertBefore(clNode, $('#story-title')[0].nextSibling);
        //             $('#story-title-sticky')
        //                 .css('top', topAnchor)
        //                 .css('width', $('#story-title').width())
        //                 .addClass('border-bottom border-secondary')
        //             storyTitleAdded = true;
        //         }
        //     });
        // })

        $('.js-toggle-osd-side-nav').click(function() {
            $('#osd-side-nav').position().top == 0 
                ? $('#osd-side-nav').css('top', '75vh')
                : $('#osd-side-nav').css('top', 0);
            $('#osd-side-nav').scrollTop(0);
        })
    </script>
</body>

</html>
